/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}
body {
  font-size: 1.8rem;
}
.background {
  height: 100%;
  background: linear-gradient(180deg, #55596d, #bb1330);
  background-size: 400% 400%;
  animation: gradientFade 12s ease infinite;
  display: block;
}
@keyframes gradientFade {
  0% {
    background-position: 47% 0%;
  }
  50% {
    background-position: 54% 100%;
  }
  100% {
    background-position: 47% 0%;
  }
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 8rem;
  justify-content: space-between;
}
.header-container .product-queue-logo .logo-img {
  margin: 3rem;
  width: 25rem;
}
.header-container .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 40rem;
}
.header-container .nav-bar li {
  color: white;
}
.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: calc(100vh - 8rem);
  width: 100%;
  color: white;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.top-container .top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 50%;
  width: 45%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
}
.top-container .top-content h1 {
  font-size: 3rem;
}
.top-container .top-content p {
  font-size: 2rem;
  padding-top: 2rem;
}
.top-container .top-content button {
  align-self: center;
  width: 20rem;
  background-color: #002070;
  border: none;
  border-radius: 100rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 3rem;
  cursor: pointer;
}
.top-container .top-img {
  align-self: flex-start;
  height: 100%;
  width: 70%;
  justify-content: center;
  flex-wrap: nowrap;
}
.top-container .top-img img {
  max-width: 100%;
  height: auto;
  width: auto;
}
.mid-container {
  color: white;
  height: 100vh;
  width: 100%;
}
.mid-container .left-mid-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 33%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
}
.mid-container .left-mid-content h2 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
.mid-container .left-mid-content p {
  padding-bottom: 1rem;
}
.bot-container {
  height: 100vh;
}
.flex-prop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
