/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  list-style: none;
}
body {
  font-size: 1.8rem;
}
.background {
  height: 100%;
  background: linear-gradient(180deg, #55596d, #bb1330);
  background-size: 400% 400%;
  animation: gradientFade 12s ease infinite;
  display: block;
}
@keyframes gradientFade {
  0% {
    background-position: 47% 0%;
  }
  50% {
    background-position: 54% 100%;
  }
  100% {
    background-position: 47% 0%;
  }
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 8rem;
  justify-content: space-between;
}
.header-container .product-queue-logo .logo-img {
  margin: 3rem;
  width: 25rem;
}
.header-container .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 40rem;
}
.header-container .nav-bar li {
  color: white;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  height: 15rem;
  color: white;
}
footer .product-queue-logo .logo-img {
  margin: 5rem 0 0 3rem;
  width: 25rem;
}
footer .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 40rem;
}
footer .nav-bar li {
  color: white;
}
.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-image: url("/Img/undraw_group_chat_v059.svg");
  background-repeat: no-repeat;
  background-position: 115% 50%;
  background-size: 65% 80%;
  height: calc(100vh - 8rem);
  width: 100%;
  font-weight: bold;
  color: white;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.top-container .top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 30rem;
  width: 50rem;
  line-height: 3.5rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  margin: 0 0 0 6rem;
}
.top-container .top-content h1 {
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem black;
}
.top-container .top-content p {
  font-size: 2rem;
  padding-top: 2rem;
  text-shadow: 0.1rem 0.1rem black;
}
.top-container .top-content button {
  align-self: center;
  width: 20rem;
  background-color: #002070;
  border: none;
  border-radius: 100rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 3rem;
  cursor: pointer;
}
.mid-container {
  color: black;
  height: 100vh;
  width: 100%;
  padding: 0 15rem;
}
.mid-container .top-mid-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 33%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}
.mid-container .mid-mid-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 33%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}
.mid-container .bot-mid-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 33%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}
.mid-container h2 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
.mid-container .icon {
  color: #08addd;
}
.mid-container p {
  padding-bottom: 1rem;
}
.bot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
.bot-container .bot-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 25%;
  flex-direction: column;
  font-weight: bold;
  color: white;
}
.bot-container .bot-content h2 {
  align-self: center;
  font-size: 3rem;
}
.bot-container .bot-content button {
  align-self: center;
  width: 20rem;
  background-color: #002070;
  border: none;
  border-radius: 100rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 2rem;
  cursor: pointer;
}
.about-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-image: url("/Img/undraw_work_chat_erdt.svg");
  background-repeat: no-repeat;
  background-position: 130% 50%;
  background-size: 75% 90%;
  height: calc(100vh - 8rem);
  width: 100%;
  font-weight: bold;
  color: white;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.about-top-container .about-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 30rem;
  width: 50rem;
  line-height: 3.5rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  margin: 0 0 0 6rem;
}
.about-top-container .about-top-content h1 {
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem black;
}
.about-top-container .about-top-content p {
  font-size: 2rem;
  padding: 2rem 0 0 2rem;
  text-shadow: 0.1rem 0.1rem black;
}
.about-top-container .about-top-content button {
  align-self: center;
  width: 20rem;
  background-color: #002070;
  border: none;
  border-radius: 100rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 3rem;
  cursor: pointer;
}
.about-bot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  height: 225rem;
  width: 100%;
  padding: 0 15rem 0 15rem;
  margin: 10rem 0;
}
.about-bot-container .team-bios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-start;
  height: 225rem;
  width: 100rem;
  margin-right: 10rem;
}
.about-bot-container .team-bios .team-bio p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20.15rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 0 2rem 0 5rem;
  margin: 6rem;
  line-height: 2rem;
}
.about-bot-container .about-bot-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5rem;
  width: 25rem;
}
.about-bot-container .about-bot-content .team-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 25rem;
  background-color: lightgrey;
}
.about-bot-container .about-bot-content .team-member img {
  height: 15rem;
  width: 15rem;
  border-radius: 20rem;
  margin-bottom: 2rem;
}
.about-bot-container .about-bot-content h2 {
  align-self: center;
  font-size: 2rem;
}
.about-bot-container .about-bot-content p {
  margin-top: 1rem;
  font-size: 1.6rem;
}
.about-bot-container .about-bot-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 15rem;
}
.about-bot-container .about-bot-content ul .icons {
  color: #55596d;
  margin: 2rem 0 8rem 0;
}
.about-bot-container .about-bot-content button {
  align-self: center;
  width: 20rem;
  background-color: #002070;
  border: none;
  border-radius: 100rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 2rem;
  cursor: pointer;
}
.flex-prop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
