.about-top-container {
    .flex-prop;
    background-image: url("/Img/undraw_work_chat_erdt.svg");
    background-repeat: no-repeat;
    background-position: 130% 50%;
    background-size: 75% 90%;                                                                                                                                                                            
    height: calc(100vh - 8rem);
    width: 100%;
    font-weight: bold;
    color: white;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    

    .about-top-content {
        .flex-prop;
        height: 30rem;
        width: 50rem;
        line-height: 3.5rem;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        margin: 0 0 0 6rem;
        

        h1 {
            font-size: 3rem;
            text-shadow: 0.1rem 0.1rem black;
        }

        p {
            font-size: 2rem;
            padding: 2rem 0 0 2rem;
            text-shadow: 0.1rem 0.1rem black;
        }

        button {
            align-self: center;
            width: 20rem;
            background-color: #002070;
            border: none;
            border-radius: 100rem;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: bold;
            margin: 3rem;
            cursor: pointer;
          }
    }
}

// Bottom content

.bot-container {
    .flex-prop;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;

    .bot-content {
        .flex-prop;
        justify-content: center;
        align-items: center;
        height: 25%;
        width: 25%;
        flex-direction: column;
        font-weight: bold;
        color: white;

        h2 {
            align-self: center;
            font-size: 3rem;
        }

        button {
            align-self: center;
            width: 20rem;
            background-color: #002070;
            border: none;
            border-radius: 100rem;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: bold;
            margin: 2rem;
            cursor: pointer;
        }
    }
}

footer {
    .flex-prop;
    justify-content: space-between;
    height: 8rem;
    
    color: white;

    .product-queue-logo .logo-img {
        margin: 2rem 0 0 3rem;
        width: 25rem;
    }

        .nav-bar {
            .flex-prop;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            width: 40rem;

            li {
                color: white;
            }
        }
}