.header-container {
    .flex-prop;
    align-items: center;
    background-color:#bb1333;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem 0.5rem 0 1.5rem;

    .lambda-logo .logo-img {
        margin: 3rem;
        width: 15rem;
    }

    .nav-bar {
        .flex-prop;
        justify-content: space-around;
        list-style: none;
        width: 40rem;
    }
}    

.top-container {
    .flex-prop;
    // background-color: #bb1333;
    background: rgb(0,32,112);
    background: linear-gradient(0deg, rgba(0,32,112,1) 0%, rgba(187,19,48,1) 35%);
    color: white;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 2rem;

    .top-content {
        align-self: center;
        // padding: 0 20rem 0 0;

        h1 {
            font-size: 5rem;
            padding: 0 25rem 1.2rem 0;
        }
    }

    .top-img {

    
    
        img {
            height: 60rem;
            width: 90rem;
        }
    }
}