 // Top content
.top-container {
    .flex-prop;
    background-image: url("/Img/undraw_group_chat_v059.svg");
    background-repeat: no-repeat;
    background-position: 115% 50%;
    background-size: 65% 80%;                                                                                                                                                                            
    height: calc(100vh - 8rem);
    width: 100%;
    font-weight: bold;
    color: white;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    

    .top-content {
        .flex-prop;
        height: 30rem;
        width: 50rem;
        line-height: 3.5rem;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        margin: 0 0 0 6rem;
        

        h1 {
            font-size: 3rem;
            text-shadow: 0.1rem 0.1rem black;
        }

        p {
            font-size: 2rem;
            padding-top: 2rem;
            text-shadow: 0.1rem 0.1rem black;
        }

        button {
            align-self: center;
            width: 20rem;
            background-color: #002070;
            border: none;
            border-radius: 100rem;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: bold;
            margin: 3rem;
            cursor: pointer;
          }
    }
}

// Middle content

.mid-container {
    .flex-prop;
    justify-content: center;
    flex-direction: column;
    margin: 9rem 0 0 16rem;
    background-color: rgba(0, 0, 0, 0.3);
    height: 80vh;
    width: 80%;

    .mid-content {
        .flex-prop;
        height: 33%;
        width: 100%;
        justify-content: center;
        padding-top: 5rem;

        .title-header {
            color: white;
            font-size: 3rem;
        }

        .span-bold {
            font-weight: bold;
            text-shadow: 0.01rem 0.01rem black;
        }

        h2 {
            font-size: 2.5rem;
            padding-bottom: 1rem;
        }

        .icon {
            padding-right: 1rem;
            color: #08addd;
        }

        p {
            padding-bottom: 1rem;
        }
    }
}
// Bottom content

.bot-container {
    .flex-prop;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;

    .bot-content {
        .flex-prop;
        justify-content: center;
        align-items: center;
        height: 25%;
        width: 25%;
        flex-direction: column;
        font-weight: bold;
        color: white;

        h2 {
            align-self: center;
            font-size: 3rem;
        }

        button {
            align-self: center;
            width: 20rem;
            background-color: #002070;
            border: none;
            border-radius: 100rem;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: bold;
            margin: 2rem;
            cursor: pointer;
        }
    }
}

