// Mobile
@mobile: ~"(max-width: 500px)";

// Iphone 7 mobile
@iphone7: ~"(max-width: 667px)";

// Just Below Tablet
@small-tablet: ~"(max-width: 768px)" and ~"(max-height: 1024px)"; 

// Tablet
@tablet: ~"(max-width: 850px)";

// Ipad pro 
@ipad-pro: ~"(max-device-width : 1024px)";

// Specific media query for the paragraphs on the about page
@about-para: ~"(max-width: 1100px)";

// Smaller Desktop
@small-desktop: ~"(max-width: 1200px)";